/* STYLES: MAIN */
// TODO: Responsive media queries
// TODO: Reset/Alarm/Lap buttons should have a hovered style. Make them circular and make the circle light-gray on hover.

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  overflow: auto;
}

body {
  @include body-background-color;
}

#box-wrapper {
  background-color: $white;
  border-radius: 9px;
  margin: 4% auto 2%;
  overflow: hidden;
  width: 28em;
  @include box-shadow;
}

#timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 1.5em;
  position: relative;
  min-height: 19.4em;
}

#mode-selection-container {
  border-bottom: 1px solid $light-gray;
  display: flex;
  margin-bottom: .5em;
  width: 100%;
}

#selection-bar {
  position: absolute;
  top: 3em;
  left: 0;
  height: 3px;
  width: 1/3 * 100%;
  background-color: $color-primary;
}

#timer-container {
  display: flex;
  justify-content: center;
  width: 100%;

  > div {
    display: inline-block;
    margin: 0 0.1em;
    width: 1.2em;
  }
}

.timer-time {
  cursor: default;
  display: block;
  margin: -0.2em 0;
  text-align: left;
}

#timer-actions {
  display: flex;
  justify-content: space-around;
  margin: 0.5em 1em;
  width: 60%;
}

/* Stopwatch styles */
#stopwatch-display {
  display: block;
  width: 4.6em;
}

.stopwatch-time-block {
  width: 2em;
}

#laps-container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0 auto;
  width: 100%;
  > div {
    border-top: 1px solid $light-gray;
    display: flex;
    justify-content: space-between;
    padding: 0.8em 2em;
  }
}
